/* 커넥티브 검색영역 */
#search_area {position:absolute; left:50%; margin-left:-410px; top:118px; z-index:10; width:820px; height:70px; border:2px solid #FD5C63; background:#fff;
   -webkit-border-radius:40px; -webkit-box-sizing:border-box;
   -moz-border-radius:40px; -moz-box-sizing:border-box;
   border-radius:40px; box-sizing:border-box
}
#search_wrap {width:780px; height:50px; margin:15px auto 0 auto}
.search_title {font:normal 12px "S_M"}
.country_wrap {float:left; position:relative; left:0; top:0; width:160px; height:100%; margin-right:10px}
.country_wrap::after {content:""; position:absolute; right:-5px; top:0px; width:1px; height:40px; background:#ccc}
.city_wrap {float:left; position:relative; left:0; top:0; width:160px; height:100%; margin-right:10px}
.city_wrap::after {content:""; position:absolute; right:-5px; top:0px; width:1px; height:40px; background:#ccc}
.works_wrap {float:left; position:relative; left:0; top:0; width:150px; height:100%; margin-right:10px}
.works_wrap::after {content:""; position:absolute; right:-5px; top:0px; width:1px; height:40px; background:#ccc}
.search_select {font:normal 14px "S_R"; color:#000}
.search_select optgroup {font:normal 14px "S_B"; color:#000}
.search_select option {display:block; height:24px; font:normal 14px "S_R"; color:#000}
.date_wrap {float:left; width:160px; height:100%}
.date_picker {width:154px; font:normal 14px "S_R"; color:#000}
.date_picker::placeholder {color:#000}
.button_wrap {float:right; width:120px; height:100%}
.search_btn {float:right; width:100%; height:40px; font:normal 14px "S_M"; color:#fff; background:#5A62FF; cursor:pointer;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
}
.search_btn:hover {background:#454BC2}
/* 비주얼 영역 */
#visual_wrap {overflow:hidden; float:left; position:relative; left:0; top:0; width:100%; height:500px}
.visual_list {position:relative; left:0; top:0; width:300%; height:100%}
.visual_list li {float:left; position:relative; left:0; top:0; width:33.33%; height:100%}
.visual_list li:nth-child(3) .visualtext {height:150px; top:150px}
.visualtext {position:absolute; left:18.75%; top:200px; width:600px; height:100px; font:normal 36px/46px "S_M"; color:white; letter-spacing:-1px}
.bangtan_btn {position:absolute; left:18.75%; top:350px; width:100px; height:30px; background:#5AEBFF;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
}
.bangtan_btn:hover {background:#4EC6D7}
.bangtan_btn a {display:block; width:100%; height:100%; font:normal 14px/30px "S_M"; text-align:center}

#visualcontrol_wrap {position:absolute; left:18.75%; top:310px; width:340px; height:24px}
.visualbar_wrap {float:left; width:280px; height:6px; margin:9px 6px 0 0; background:#fff}
.visualbar_inner {width:33.33%; height:100%; background:#5A62FF}
.visual_left_btn {float:left; width:24px; height:24px; margin-right:6px; background:url(../images/visual_left_btn.png)no-repeat}
.visual_right_btn {float:left; width:24px; height:24px; background:url(../images/visual_right_btn.png)no-repeat}
.visual_left_btn a {display:block; width:100%; height:100%}
.visual_right_btn a {display:block; width:100%; height:100%}

/* 컨텐츠 영역 */
#contents_wrap {float:left; width:100%}

/* categorybox */
#category_wrap {float:left; width:100%; height:640px}
.category_inner {width:1200px; height:400px; margin:120px auto}
.connectbox_wrap {overflow:hidden; width:100%; height:100%; border:solid 4px #FD5C63;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px
}
.connectbox_inner {position:relative; left:0; top:0; width:2400px; height:100%}

.fixed_box {float:left; position:relative; left:0; top:0; z-index:10; width:1200px; height:100%; background:#fff}
.normal_connect_wrap {float:left; position:relative; left:0; top:0; width:800px; height:100%}
.normal_title {position:absolute; left:20px; top:20px; width:100%; height:38px; font:normal 32px "S_B"}
.normal_text {position: absolute; left:20px; top:66px; font:normal 14px "S_R"}
.normal_connect_list {position:absolute; left:120px; top:100px; width:540px; height:280px}
.normal_connect_list li {float:left; width:120px; height:120px; margin:0 90px 40px 0; background:#111;
  -webkit-border-radius:60px; -webkit-transition:0.3s ease;
  -moz-border-radius:60px; -moz-transition:0.3s ease;
  border-radius:60px; -o-transition:0.3s ease;
  transition:0.3s ease
  }
.normal_connect_list li:hover {background:#2c2c2c}
.normal_connect_list li:nth-child(3n) {margin-right:0}
.normal_connect_list li a {display:block; width:100%; margin-top:60px; font:normal 16px "S_M"; text-align:center; color:white;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%)
  }

.moving_box {float:left; position:relative; left:-400px; top:0; z-index:0; width:1200px; height:100%; background:#fff}
.connect_title_box {float:left; position:relative; left:0; top:0; width:400px; height:100%}
.connect_title_box::after {position:absolute; left:0; top:0; z-index:-1; content:""; width:100%; height:100%; background:linear-gradient(223.36deg, #F75C6A -22.73%, #8C61EF 90.61%)}
.box_selected::after {
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
}
.title_box_title {width:100%; margin:130px 0 20px 0; font:normal 32px "S_B"; text-align:center; color:white}
.title_box_text {width:100%; font:normal 16px/24px "S_R"; text-align:center; color:white;}
.connect_left_btn {position:absolute; right:20px; bottom:20px; width:34px; height:34px; background:url(../images/connectbox_left_btn.png)no-repeat}
.connect_right_btn {position:absolute; left:20px; bottom:20px; width:34px; height:34px; background:url(../images/connectbox_right_btn.png)no-repeat}
.connect_left_btn a,
.connect_right_btn a {display:block; width:100%; height:100%;}

.pro_connect_wrap {float:left; position:relative; left:0; top:0; width:800px; height:100%; opacity:0}
.pro_title {position:absolute; left:20px; top:20px; width:100%; height:38px; font:normal 32px "S_B"}
.pro_text {position:absolute; lefT:20px; top:66px; font:normal 14px "S_R"}
.pro_connect_list {position:absolute; left:40px; top:160px; width:720px; height:120px}
.pro_connect_list li {float:left; width:120px; height:120px; margin-right:80px; background:#111;
  -webkit-border-radius:60px; -webkit-transition:0.3s ease;
  -moz-border-radius:60px; -moz-transition:0.3s ease;
  border-radius:60px; -o-transition:0.3s ease;
  transition:0.3s ease;
}
.pro_connect_list li:last-child {margin-right:0}
.pro_connect_list li:hover {background:#2c2c2c}
.pro_connect_list li a {display:block; width:100%; margin-top:60px; font:normal 16px "S_M"; text-align:center; color:white;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%)
}

/* resultcount */
#count_wrap {float:left; width:100%; height:340px; background:url(../images/countwrap_bg.jpg)no-repeat center/cover}
.count_inner {width:768px; height:100%; margin:0 auto}
.count_list {position:relative; left:0; top:-200px; width:100%; height:100%; margin-top:65px; opacity:0}
.count_list li {float:left; width:170px; height:210px; margin-right:124px}
.count_list li:last-child {margin-right:0}
.count_icon {width:120px; height:120px; margin:0 auto}
.count_count {width:100%; margin:10px 0 6px 0; font:normal 16px "S_B"; text-align:center; color:#5AEBFF}
.count_count span {font-size:32px}
.count_text {width:100%; font:normal 14px "S_R"; text-align:center; color:white}
.count_text span {font-size:14px}

/* bestconnector */
#best_connector_wrap {float:left; width:100%; height:741px}
.best_connector_inner {position:relative; left:0; top:0; width:1200px; height:100%; margin:0 auto}
.best_title {position:absolute; left:0; top:120px; font:normal 32px "S_B"}
.best_list_wrap {overflow:hidden; position:absolute; left:50%; bottom:123px; width:1020px; height:436px; margin-left:-510px}
.best_connector_list {position:absolute; left:0; top:0; width:2100px; height:100%}
.best_connector_list>li {float:left; position:relative; left:0; top:0; width:300px; height:100%; margin-right:60px; border:solid 2px #FD5C63;
  -webkit-border-radius:15px; -webkit-box-sizing:border-box;
  -moz-border-radius:15px; -moz-box-sizing:border-box;
  border-radius:15px; box-sizing:border-box
  
}
.best_connector_list>li:last-child {margin-right:0}

.best_sub_list {width:100%; height:386px}
.best_sub_list li {position:relative; left:0; top:0; width:100%}
.best_sub_list li:nth-child(1) {height:170px}
.best_sub_list li:nth-child(2) {height:110px}
.best_sub_list li:nth-child(3) {height:123px}

.best_user_img {float:left; width:50%; height:100%}
.best_user_img img {width:120px; height:120px; margin:20px 0 0 20px}

.best_info_wrap {float:right; width:141px; height:100%; padding:30px 20px 0 10px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
.best_user_name {width:100%; margin-bottom:10px; font:normal 24px "S_B"; text-align:right}
.best_user_info {float:left; width:50%; font:normal 14px "S_M"}
.best_user_info span{font-size:16px; color:#FD5C63}

.best_user_work {width:256px; height:100%; margin-left:20px; padding:7px 0 14px 0; border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.user_work {float:left; clear:both; width:60%; margin-top:7px; font:normal 16px "S_B"}
.work_price {float:right; width:40%; margin-top:9px; font:normal 14px "S_B"}
.work_price span {font-size:12px}

.best_user_text {width:256px; margin:10px 0 0 20px; font:normal 14px/24px "S_R"}

.click_me_btn {position:absolute; right:12px; bottom:12px; width:67px; height:17px; margin-top:7px; text-align:right}
.click_me_btn a {font:normal 16px/23px "S_B"; color:#a9a9a9}
.click_me_btn a:hover {color:#000}

.best_left_btn {position:absolute; left:0; top:371px; width:34px; height:34px; background:url(../images/best_left_btn.png)}
.best_right_btn {position:absolute; right:0; top:371px; width:34px; height:34px; background:url(../images/best_right_btn.png)}
.best_left_btn a,
.best_right_btn a {display:block; width:100%; height:100%}

/* review */
#review_wrap {float:left; width:100%; height:1714px; background:#FFF8EE}
.review_inner {width:1200px; height:100%; margin:0 auto}
.fa-star {margin-right:3px}
.review_left_wrap {float:left; position:relative; left:0; top:0; width:514px; height:820px}
.review_left_title {margin-top:40px; font:normal 32px "S_B"}
.review_left_text {margin:6px 0 30px 0; font:normal 20px "S_R"}
.review_left_box {overflow:hidden; position:relative; left:0; top:0; width:493px; height:632px; border:solid 4px #FD5C63; background:#fff;
  -webkit-border-radius:15px; -webkit-box-sizing:border-box;
  -moz-border-radius:15px; -moz-box-sizing:border-box;
  border-radius:15px; box-sizing:border-box
}
.left_box_img {width:100%; height:340px}
.left_box_info {position:relative; left:0; top:0; width:100%; height:290px}
.left_grade_area {float:left; width:100%; height:24px; margin-top:10px}
.left_big_title {float:left; width:70px; margin:0 20px 0 20px; font:normal 18px "S_B"}
.left_big_star {float:left; width:130px; height:24px; font-size:18px; line-height:24px; color:#FFE600}
.left_work_area {float:left; width:100%; height:24px; margin-top:0px}
.left_big_work {float:left; font:normal 16px/24px "S_R"}
.left_big_text {float:left; width:453px; margin:20px 0 0 20px;; font:normal 16px "S_R"}
.left_big_btn {position:absolute; right:20px; bottom:20px; width:49px; height:50px; background:url(../images/review_big_btn.png)no-repeat}
.left_big_btn a {display:block; width:100%; height:100%}
.best_btn {position:absolute; right:10px; top:10px; width:68px; height:34px; font:normal 14px/34px "S_B"; color:white; text-align:center; background:#7178FF;
  -webkit-border-radius:17px;
  -moz-border-radius:17px;
  border-radius:17px;
}

.review_right_wrap {float:left; position:relative; left:0; top:0; width:686px; height:100%}
.review_right_wrap::after {content:""; position:absolute; left:0; top:40px; width:2px; height:1634px; background:#dadada}
.review_list_wrap {width:100%; height:1298px}
.review_list {width:100%; height:1714px; margin-top:10px}
.review_list li {float:left; width:300px; height:386px; margin:30px 10px 0 20px}

.review_right_box {overflow:hidden; width:100%; height:386px; border:solid 4px #FD5C63; background:#fff;
  -webkit-border-radius:15px; -webkit-box-sizing:border-box;
  -moz-border-radius:15px; -moz-box-sizing:border-box;
  border-radius:15px; box-sizing:border-box
}
.right_box_img {width:100%; height:208px}
.right_box_info {position:relative; left:0; top:0; width:100%; height:178px}
.right_grade_area {float:left; width:100%; height:19px; margin-top:5px}
.right_big_title {float:left; width:65px; margin:0 20px 0 10px; font:normal 16px "S_B"}
.right_big_star {float:left; width:116px; height:19px; line-height:19px; color:#FFE600}
.right_big_star i {width:16px; height:16px; font-size:16px; line-height:16px; color:#FFE600}
.right_work_area {float:left; width:100%; height:24px; margin-top:6px}
.right_big_work {float:left; font:normal 16px/24px "S_R"}
.right_big_text {float:left; width:270px; margin:10px 0 0 10px; font:normal 14px "S_R"}
.right_more_btn {position:absolute; right:10px; bottom:15px; width:30px; height:15px}
.right_more_btn a {display:block; width:100%; height:100%; font:normal 12px "S_B"; color:#a9a9a9;
  -webkit-transition:0.2s ease;
  -moz-transition:0.2s ease;
  -o-transition:0.2s ease;
  transition:0.2s ease;
}
.right_more_btn a:hover {color:#000}

/* connective subvisual */
#subvisual_wrap {float:left; width:100%; height:460px; margin:120px 0 120px 0; background:url(../images/sub_visual_bg.png)repeat-x}
.subvisual_inner {width:1200px; height:100%; margin:0 auto}

.subvisual_left {float:left; width:320px; height:100%}
.sub_text_wrap {overflow:hidden; width:100%; height:170px; margin-top:165px;}
.sub_test_list {position:relative; left:0px; top:0; width:300%; height:100%}
.sub_test_list li {float:left; width:320px; height:100%}
.sub_text_title {font:normal 36px "S_M"; color:white}
.sub_text_text {margin:10px 0 20px 0; font:normal 18px "S_R"; color:white}
.sub_text_text span {font-family:"S_B"}
.sub_link_btn {width:150px; height:40px; background:#7178FF;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
}
.sub_link_btn a {display:block; width:100%; height:100%; font:normal 16px/40px "S_B"; text-align:center; color:white}

.sub_ctrl_wrap {width:100%; height:24px; margin:15px 0 0 200px}
.paging_wrap {float:left; width:30px; height:100%; font:normal 16px "S_R"; color:white;}
.sub_left_btn {float:left; width:24px; height:24px; margin:0 10px 0 8px; background:url(../images/visual_left_btn.png)no-repeat}
.sub_right_btn {float:left; width:24px; height:24px; background:url(../images/visual_right_btn.png)no-repeat}
.sub_left_btn a,
.sub_right_btn a {display:block; width:100%; height:100%}

.subvisual_right {float:right; width:680px; height:100%}
.sub_visual_list {position:relative; left:0; top:0; width:100%; height:100%}
.sub_visual_list li {float:left; position:absolute; width:640px; height:420px;
  -webkit-transition:0.5s ease;
  -moz-transition:0.5s ease;
  -o-transition:0.5s ease;
  transition:0.5s ease
}
.sub_visual_list li:nth-child(1) {z-index:20; right:40px; top:40px}
.sub_visual_list li:nth-child(2) {z-index:10; right:20px; top:20px}
.sub_visual_list li:nth-child(3) {right:0; top:0}

/* connective support */
#support_wrap {float:left; width:100%; height:388px; margin-bottom:120px}
.support_inner {width:1200px; height:100%; margin:0 auto}
.support_title {width:1200px; height:40px; margin:0 auto 30px auto; font:normal 32px "S_B"}
.support_wrap {width:493px; height:312px; background:#FFF8EE}
.support_title_wrap {width:470px; height:75px; margin:0 auto; border-bottom:solid 2px #000 }
.support_board_title {float:left; width:90%; height:32px; padding-top:38px; font:normal 20px/30px "S_R"}
.support_more_btn {float:right; width:24px; height:24px; margin-top:42px; background:url(../images/plus_icon.png)no-repeat}
.support_more_btn a {display:block; width:100%; height:100%}
.support_list {width:470px; height:273px; margin:5px auto 0 auto}
.support_list li {margin-top:15px; font:normal 18px "S_R"}

/* app */
#app_wrap {float:left; width:100%; height:498px; margin-bottom:150px}
.app_inner {width:1200px; height:100%; margin:0 auto}

.app_left_wrap {float:left; width:600px; height:100%}
.app_text {float:left; width:550px; height:205px; margin:100px 0 0 40px; font:normal 48px/72px "S_M"}
.app_btn_wrap {float:left; width:300px; height:40px; margin:40px 0 0 40px}
.googleplay_btn {float:left; width:140px; height:40px; margin-right:20px; background:url(../images/Google_Play.png)no-repeat}
.applestore_btn {float:left; width:140px; height:40px; background:url(../images/App_Store.png)no-repeat}
.googleplay_btn a,
.applestore_btn a {display:block; width:100%; height:100%}

.app_right_wrap {float:right; position:relative; left:0; top:0; width:600px; height:100%}
.app_wrap_img {position:absolute; left:0; top:0; width:100%; height:100%}
.app_inner_img {overflow:hidden; position:absolute; left:231px; top:65px; width:170px; height:370px}
.inner_img_list {position:absolute; left:0px; top:0; width:540px; height:100%}
.inner_img_list li {float:left; width:170px; height:100%}
.inner_img_list li:nth-child(1) {background:#eee}
.inner_img_list li:nth-child(2) {background:#aaa}
.inner_img_list li:nth-child(3) {background:#777}


.app_dot_list {position:absolute; left:297px; bottom:20px; width:40px; height:8px}
.app_dot_list li {float:left; width:8px; height:8px; margin-right:8px; background:#FD5C63; opacity:0.6;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}
.app_dot_list li:last-child {margin-right:0}
.app_dot_list li a {display:block; width:100%; height:100%}
.app_dot_list li.active_dot {opacity:1}



/* 반응형 미디어 쿼리 */
@media screen and (max-width:1200px){
  #visual_wrap {height:375px}
}