#login_wrap {width:530px; height:730px; margin:0px auto; margin-top:100px; padding:104px 69px; box-sizing:border-box; background: #FFFFFF; border:4px solid #FD5C63;
  -webkit-border-radius:30px; -webkit-box-sizing:border-box;
  -moz-border-radius:30px; -moz-box-sizing:border-box;
  border-radius:30px; box-sizing:border-box
}
.login_info {font:normal 16px "S_R"; text-align:center;}
.login_title {margin:60px 0px 40px 0px; font:normal 36px "S_B"; text-align:center; color:#FD5C63}
.userid {width:100%; height:50px; margin-bottom:10px; background:#EEE; font:normal 16px "S_R"; text-indent:10px; color:#333}
.password {width:100%; height:50px; margin-bottom:20px; background:#EEE; font:normal 16px "S_R"; text-indent:10px; color:#333}
.autologin {font:normal 14px "S_R"; color:#555555;}
.autologin input {width:7px; height:7px; margin-right:7px;
  appearance: checkbox;
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;}
.submit, .naver, .kakao {height:60px; background: #FD5C63; font:normal 20px "S_R"; color:white; border:none;
  -webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}
.submit {width:100%; margin:40px 0px 10px 0px;}
.naver {width:48.5%; margin-right:3%; float:left;}
.kakao {width:48.5%;}
.login_option {margin-top:22px; font:normal 14px "S_R"; color:#555; text-align: center;}
.login_option span:nth-child(1) {margin-right:18px; position: relative; left:-13px; top:0px;}
.login_option span:nth-child(1):after {content:""; height:100%; width:1px; position:absolute; right:-15px; top:0px; background:#555;}
